.project-title {
	text-align: center;
}

.project-header {
	color: #404040;
}

.project-subtitle {
	margin: 20px;
	font-style: italic;
	font-size: 26px;
	color: #888787;
}

.project-description {
	margin: 30px 100px;
	font-size: 18px;
	color: #404040;
}

.project-section-header {
	color: #404040;
	font-size: 24px;
}